---
sidebar_position: 3
---

:::caution 

Please notice that as part of the merger between MobilePay and Norwegian Vipps, we will consolidate products on one joint platform. 
This product is now closed. Please visit our new developer documentation to see the new APIs we offer https://developer.vippsmobilepay.com/

:::
