openapi: 3.0.3
info:
  title: Refunds API
  contact:
    email: developer@mobilepay.dk
  description: >
    <br/> MobilePay Refunds API makes it easy for you to refund payments to your
    customers. <br/>
    You can refund only those payments that were created via [Payments API](payments). 

    #### General notes

    All dates use the (`ISO 8601-1:2019`) format.<br/>
    Date-time format - `YYYY-MM-DDTHH:mm:ssZ` or `YYYY-MM-DDTHH:mm:ss+00:00`.
servers:
  - url: https://api.mobilepay.dk
    description: Production server (uses **live** data)
  - url: https://api.sandbox.mobilepay.dk
    description: Production server (uses **test** data)
paths:
  /v1/refunds:
    post:
      summary: issue new refund
      operationId: issue-refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueRefundRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueRefundResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: fetch a list of refunds
      operationId: get-refunds-list
      parameters:
        - name: paymentId
          in: query
          description: Filter refunds of specific payment
          schema:
            type: string
            format: uuid
        - name: paymentPointId
          in: query
          description: Filter refunds of specific payment point
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: >-
            Values that are less than 1 will be replaced by 1.
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          description: Number of refunds to be returned.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: createdBefore
          in: query
          description: Filter refunds by CreatedOn property.
          schema:
            type: string
            format: date-time
        - name: createdAfter
          in: query
          description: Filter refunds by CreatedOn property.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRefundsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /v1/refunds/{refundid}:
    get:
      summary: fetch single refund
      operationId: get-refund
      parameters:
        - name: refundid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSingleRefundResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
components:
  parameters:
    correlationIdParam:
      name: CorrelationId
      in: header
      required: false
      description: Correlation id used for logging (if you don't pass any value, we'll generate it)
      schema:
        type: string
        format: uuid
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          nullable: true
          example: error_code
        message:
          type: string
          nullable: true
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        correlationId:
          type: string
          example: 91f2b05f-2171-4cea-9d5a-1cdbed6ae2cd
        origin:
          type: string
          example: MRF
    GetRefundsResponse:
      required:
        - pageSize
        - refunds
      type: object
      properties:
        pageSize:
          type: integer
          description: The number of refunds per page. The range is 1 to 1000.
        nextPageNumber:
          type: integer
          description: >-
            A number of the next page. The null value indicates that the
            response has the last page.
          nullable: true
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/GetSingleRefundResponse'
          description: The requested list of refunds.
    GetSingleRefundResponse:
      required:
        - amount
        - createdOn
        - isoCurrencyCode
        - merchantId
        - paymentId
        - paymentPointId
        - reference
        - refundId
      type: object
      properties:
        refundId:
          type: string
          description: The ID of the refund.
          format: uuid
          example: 7576910d-9789-4fef-a72e-877d89afec94
        paymentId:
          type: string
          description: The ID of payment for which refund was issued.
          format: uuid
          example: 186d2b31-ff25-4414-9fd1-bfe9807fa8b7
        amount:
          type: integer
          description: "The amount of money refunded. A positive integer representing how much was refunded in the\r\nsmallest currency unit (e.g., 100 cents to charge €1.00)."
          example: 1250
        description:
          type: string
          description: "Optional refund information to be displayed in MobilePay app to the customer. This can be, for example,\r\nan invoice number, ticket number, or short description of the refund."
          nullable: true
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        reference:
          type: string
          description: Refund's reference provided by you.
          example: My-Refund-1
        createdOn:
          type: string
          description: "The timestamp of when the refund was created, in ISO 8601-1:2019 format.<br />\r\nExample for July 19th, 2021 14:42:38 Central European Summer Time:<br />\r\nUTC: 2021-07-19T12:42:38Z"
          format: date-time
          example: '2021-07-19T12:42:38+00:00'
        paymentPointId:
          type: string
          description: The payment point on which refunded payment was initiated.
          format: uuid
          example: 7347ba06-95c5-4181-82e5-7c7a23609a0e
        merchantId:
          type: string
          description: Merchant id associated with the refund.
          format: uuid
          example: 655ad36f-70b0-4add-a123-b943daca50e8
        isoCurrencyCode:
          type: string
          enum:
            - DKK
            - EUR
          description: "Three-letter <a href=\"https://www.iso.org/iso-4217-currency-codes.html\">ISO currency code</a>, in uppercase."
          example: DKK
    IssueRefundRequest:
      required:
        - amount
        - idempotencyKey
        - paymentId
        - reference
      type: object
      properties:
        paymentId:
          type: string
          description: The ID of payment for which refund will be issued.
          format: uuid
          example: 186d2b31-ff25-4414-9fd1-bfe9807fa8b7
        amount:
          type: integer
          description: "The amount of money to refund. A positive integer representing how much to refund in the\r\nsmallest currency unit (e.g., 100 cents to charge €1.00). The minimum amount is 1. The maximum amount is equal to\r\nfull payment's amount."
          example: 1250
        description:
          maxLength: 200
          minLength: 0
          type: string
          description: "Optional refund information to be displayed in MobilePay app to the customer. Max length: 200 characters.<br />\r\nThis can be, for example, an invoice number, ticket number, or short description of the refund."
          nullable: true
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        reference:
          maxLength: 64
          minLength: 0
          type: string
          description: "An ID to associate with the refund. Max length: 64 characters.<br />\r\nYou can use this field to associate the refund to an entity in an external system (for example, you might specify\r\nan order ID that is generated by your system). It is recommended to use a unique value for each refund."
          example: My-Refund-1
        idempotencyKey:
          type: string
          description: "A unique value that identifies this request. Must be a valid GUID, and is used to protect against accidental\r\nduplicate calls. Multiple requests with the same idempotency key have the same result."
          format: uuid
          example: fae7680f-9875-4ba9-8910-2f2e1791f390
    IssueRefundResponse:
      type: object
      properties:
        refundId:
          type: string
          description: The ID of the refund.
          format: uuid
          nullable: true
          example: 7576910d-9789-4fef-a72e-877d89afec94
        paymentId:
          type: string
          description: The ID of payment for which refund was issued.
          format: uuid
          nullable: true
          example: 186d2b31-ff25-4414-9fd1-bfe9807fa8b7
        amount:
          type: integer
          description: "The amount of money refunded.<br />\r\nA positive integer representing how much was refunded in the smallest currency unit (e.g., 100 cents to charge\r\n€1.00)."
          nullable: true
          example: 1250
        description:
          type: string
          description: "Optional refund information to be displayed in MobilePay app to the customer. Max length: 200 characters.<br />\r\nThis can be, for example, an invoice number, ticket number, or short description of the refund."
          nullable: true
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        reference:
          type: string
          description: 'Refund''s reference provided by you. Max length: 64 characters.'
          nullable: true
          example: My-Refund-1
        createdOn:
          type: string
          description: "The timestamp of when the refund was created, in ISO 8601-1:2019 format.<br />\r\nExample for July 19th, 2021 14:42:38 Central European Summer Time:<br />\r\nUTC: 2021-07-19T12:42:38Z"
          format: date-time
          example: '2021-07-19T12:42:38+00:00'
        remainingAmount:
          type: integer
          description: "How much of the payment can still be refunded.<br />\r\nA positive integer representing how much can still be refunded in the smallest currency unit (e.g., 100 cents to\r\ncharge €1.00)."
          example: 250
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: >-
        Authorization header using the Bearer scheme, e.g., `Authorization: Bearer {api key}`
    openId:
      type: openIdConnect
      openIdConnectUrl: https://api.mobilepay.dk/merchant-authentication-openidconnect/.well-known/openid-configuration
      description: >-
        Obtain a consent from your client (with scope `merchantpayments`), retrieve an acess token and send it in `Authorization` header using the Bearer scheme, 
        e.g., `Authorization: Bearer {access token}`
security:
  - apiKey: []
  - openId:
      - merchantpayments