---
sidebar_position: 3
pagination_label: verification
---

# Verification
The documentation have been moved to the [Vipps MobilePay documentation](https://developer.vippsmobilepay.com/docs/APIs/psp-mp-api/mp-psp-api-checklist/)
